%body{ "ng-controller"=>"FileBrowserController" }
  .row
    .span2
    .span10
      %h2
        angular-bootstrap-nav-tree
      %h6
        by Nick Perkins
      %a{ "href"=>"https://github.com/nickperkinslondon/angular-bootstrap-nav-tree" } 
        The code is on Github

  .row
    %br
      
  .row
    .span2
  
    .span4
      .well
        %browser_tree{ "data-options"=>"treeOptions",
            "icon-leaf"=>"icon-file", 
            }
    #linear-gradient.span10
      %div{ "style"=>"height:100px; overflow-y: auto" }
        %div{ "ng-repeat"=>"log in logs" }
          {{log.text}}
  
  / pre {{ example_treedata | json }}