%body{ "ng-controller"=>"AbnTestController" }
  .row
    .span2
    .span10
      %h2
        angular-bootstrap-nav-tree
      %h6
        by Nick Perkins
      %a{ "href"=>"https://github.com/nickperkinslondon/angular-bootstrap-nav-tree" } 
        The code is on Github

    .row
      %br
    .row
      .span2
      .span4.well
        %abn-tree{ "header"=>"This is the example tree","tree-data"=>"example_treedata", "icon-leaf"=>"icon-file", "on-select"=>"my_default_handler(branch)","expand-level"=>"2","initial-selection"=>"Vegetable" }
        
      .span8.well
        .alert
        {{ output }}
        
      %h5
        {{ clock }}
      
    / pre {{ example_treedata | json }}